body {
	margin: 0;
	background: #e7e5df;
}

header {
	background: url('../images/header.jpeg');
	background-position: bottom;
	height: 50vh;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	color: #e7e5df;
	background-color: #393e41;
}

a {
	color: #393e41;
}

@media (min-width: 768px){
	.nav-tabs.nav-justified>li>a {
		border-bottom: 1px solid #393e41;
	}

	.nav-tabs.nav-justified>.active>a,
	.nav-tabs.nav-justified>.active>a:focus,
	.nav-tabs.nav-justified>.active>a:hover {
		border-bottom-color: #393e41;
	}

}

.margin-top {
	margin-top: 30px;
}

.body-cover {
	background: #393e41;
	padding: 50px 20px 20px;
	color: #e7e5df;
	margin-bottom: 20px;
	border-radius: 0 0 4px 4px;
}

.heading-no-margin {
	margin: 0;
}

.nav-tabs.nav-justified {
	background: #e7e5df !important;
}

/*MAIN*/
.avatar {
	width: 200px;
	background: white;
}

.avatar-container {
	margin-bottom: 20px;
}

.hire-icon {
	width: 80px;
}

/*BACKGROUND*/
.line {
	border-left: 3px solid #e7bb41;
	position: relative;
	background: #393e41;
	min-height: 100px;
	color: #393e41;
}

.year {
	position: absolute;
	top: 40px;
    left: -25px;
    border-radius: 50%;
    background: #44bba4;
}

.panel-text {
	color: #393e41;
}

.panel-company {
	font-weight: bold;
}

.accordion-link:hover {
	text-decoration: none;
	color: #44bba4;
}

.glyphicon-star {
	color: #e7bb41;
	text-shadow: 0 0 0 #e7bb41;
	animation: pulse 2s infinite;
}

.glyphicon-star-empty {
	color: #e7bb41;
	opacity: 0.4;
}

@keyframes pulse {
	0% {
		text-shadow: 0 0 0 #e7bb41;
	}

	50% {
		text-shadow: 0 0 20px #e7bb41;
	}

	100% {
		text-shadow: 0 0 0 #e7bb41;
	}
}

/*SAMPLE WORK*/
.gallery-icon {
	width: 300px;
	height: 200px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 70%;
    height: 40%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
	animation: zoom 0.6s;
}

@keyframes zoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
}

.close {
	position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}