body {
	margin: 0;
	background: #e7e5df;
}

header {
	background: url('../_images/header.jpeg');
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 50vh;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	color: #e7e5df;
	background-color: #393e41;
}

a {
	color: #393e41;
}

@media (min-width: 768px){
	.nav-tabs.nav-justified>li>a {
		border-bottom: 1px solid #393e41;
	}

	.nav-tabs.nav-justified>.active>a,
	.nav-tabs.nav-justified>.active>a:focus,
	.nav-tabs.nav-justified>.active>a:hover {
		border-bottom-color: #393e41;
	}

}

.margin-top {
	margin-top: 30px;
}

.body-cover {
	background: #393e41;
	padding: 50px 20px 20px;
	color: #e7e5df;
	margin-bottom: 20px;
	border-radius: 0 0 4px 4px;
}

.heading-no-margin {
	margin: 0;
}

.nav-tabs.nav-justified {
	background: #e7e5df !important;
}

/*MAIN*/
.avatar {
	width: 200px;
	background: white;
}

.avatar-container {
	margin-bottom: 20px;
}

.hire-icon {
	width: 80px;
}

/*BACKGROUND*/
.line {
	border-left: 3px solid #e7bb41;
	position: relative;
	background: #393e41;
	min-height: 100px;
	color: #393e41;
}

.year {
	position: absolute;
	top: 40px;
    left: -25px;
    border-radius: 50%;
    background: #44bba4;
}

.panel-text {
	color: #393e41;
}

.panel-company {
	font-weight: bold;
}

.accordion-link:hover {
	text-decoration: none;
	color: #44bba4;
}

.glyphicon-star {
	color: #e7bb41;
	text-shadow: 0 0 0 #e7bb41;
	animation: pulse 2s infinite;
}

.glyphicon-star-empty {
	color: #e7bb41;
	opacity: 0.4;
}

@keyframes pulse {
	0% {
		text-shadow: 0 0 0 #e7bb41;
	}

	50% {
		text-shadow: 0 0 20px #e7bb41;
	}

	100% {
		text-shadow: 0 0 0 #e7bb41;
	}
}

/*PORTFOLIO*/
.gallery-icon {
	width: 300px;
	height: 200px;
}

.galleryNav {
	padding: 5px;
}

.thumbnail {
	transition: 100ms ease-in-out;
}

.thumbnail:hover {
	transform: scale(1.1);
	cursor: pointer;
}